/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
html,body {
	font-size: 10px;	
	font-family: 'Raleway', sans-serif;
	margin:0;
	padding: 0;
}

.post-edit-link {
	display:none;	
}

h1, h2 {
	font-family: 'Dancing Script', cursive;	
	font-weight: 400;
}

h1.entry-title, h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: rgb(1, 132, 156);
    line-height: 1.4;
    margin: 0 0rem 2rem;
}

.event-header h1.entry-title {
	margin: 0 0rem 1rem;
}

h2.event-title {
	color: black;
	font-size: 4.5rem;
    text-align: center;
    margin: 0 0 2rem;	
	font-family: 'Dancing Script', cursive;
}

.event-header p {
	text-align:center;	
}

p,li {
	font-size: 1.8rem;
	line-height: 1.4;	
}

a, a:hover {
	text-decoration:none;	
	color: rgb(1, 132, 156);
}

#branding {
	height: 35rem;
	background:url(img/curtain.jpg) no-repeat center top black;
}

strong, b {
	font-weight: 600;	
}

#site-title h1, #site-title span {
	margin: 0;
	font-family: 'Dancing Script', cursive;	
	font-weight: 400;
    position: absolute;
    top: 28rem;
    left: 0;
    right: 0;
    font-size: 4rem;
    text-align: center;
}

#site-title h1 a, #site-title span a {
	color: white;	
	text-shadow:0 3px 4px rgba(0,0,0,1);
}

#jesters {
	position:absolute;
	top:3rem;left:0;right:0;	
}

#jesters img{
	display:block;
	margin: 0 auto;	
	max-width: 100%;
	height:auto;
}

#footer {
	background: rgb(1, 132, 156);
	color: #ddd;
	margin-top: 2rem;	
}

#footer p {
	text-align: center;
	font-size: 1.2rem;	
	padding: 0.5rem 0;
	margin: 0;
}

#footer a {
	color: white;	
}

.home-production img{
    display: block;
    margin: auto;
	max-width: 100%;
	height: auto;
	padding: 0.5rem;
	border: 1px solid #ccc;
}

#content {
	margin-top: 6rem;	
}

figure.post-thumbnail img {
	width: 50%;
    height: initial;
    display: block;
    margin: auto;	
	padding: 0.5rem;
	border: 1px solid #ccc;
}

.production {
	margin: 1rem 0 7rem;	
}

.production figure img {
	max-width: 50%;
	height: auto;
	display:block;
	margin: auto;	
	padding: 0.5rem;
	border: 1px solid #ccc;
}

.production h1 {
    font-size: 4rem;
    text-align: center;	
}

.production figure {
    margin: 0 0 4rem;
}

.wpcf7-text, .wpcf7-textarea {
	width: 75%;
	margin-bottom: 1rem;	
}

.wpcf7-response-output {
	font-size: 1.6rem;	
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
    float: right;
    margin-top: -4rem;
    margin-right: 1rem;
}

@media screen and (max-width: 717px) {
	#site-title h1, #site-title span {
		font-size: 3rem;	
		top: 28rem;
	}
	
	.production figure img, figure.post-thumbnail img {
		max-width: 100%;	
		width: auto;
	}
	
	#branding {
		background:rgb(1, 132, 156);	
	}
}

@media screen and (max-width: 556px) {
	#site-title h1, #site-title span {
		font-size: 4rem;	
	    top: 4rem;
		text-align: center;
		padding: 0 2rem;
	}
	
	#branding {
		position:relative;	
	}
	
	#jesters {
		bottom: -4rem;
		top:auto;	
	}
}
